aioredis==1.3.1
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.5.1
Automat==20.2.0
autopep8==1.7.0
certifi==2022.5.18.1
cffi==1.15.0
channels==3.0.4
channels-redis==3.4.0
charset-normalizer==2.0.12
constantly==15.1.0
cryptography==37.0.2
daphne==3.0.2
defusedxml==0.7.1
Deprecated==1.2.13
Django==3.2.9
django-braces==1.15.0
django-ckeditor==6.2.0
django-cors-headers==3.10.0
django-crispy-forms==1.13.0
django-environ==0.8.1
django-js-asset==1.2.2
django-oauth-toolkit==2.0.0
django-rest-framework==0.1.0
django-rest-framework-social-oauth2==1.1.0
django-social-auth==0.7.28
djangorestframework==3.12.4
hiredis==2.0.0
httplib2==0.20.4
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
jwcrypto==1.3.1
msgpack==1.0.4
oauth2==1.9.0.post1
oauthlib==3.2.0
Pillow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
PyJWT==2.4.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
python-openid==2.2.5
python3-openid==3.2.0
pytz==2021.3
requests==2.28.0
requests-oauthlib==1.3.1
service-identity==21.1.0
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
sqlparse==0.4.2
toml==0.10.2
Twisted==22.4.0
txaio==22.2.1
typing-extensions==4.2.0
urllib3==1.26.9
wrapt==1.14.1
zope.interface==5.4.0
